<div class="mx-auto w-full">
  <% if notice.present? %>
    <div class="flex justify-center">
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1 class="font-bold text-4xl text-center text-gray-900">Contacts</h1>
  <div class="flex justify-center mt-3">
    <%= link_to 'New Contact', new_contact_path, class: "rounded-lg py-3 px-5 h-min bg-gray-900 text-white font-medium" %>
  </div>
  <div x-data="{ open: false }" class="grid justify-center cols-1 mt-3">
    <%= render "dropdown" %>
  </div>

  <div id="contacts" class="min-w-full grid lg:grid-cols-2" >
    <%= render @contacts %>
  </div>
</div>